<p id="notice"><%= notice %></p>

<p>
  <strong>Central:</strong>
  <%= @beacon.central %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @beacon.orientation %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @beacon.distance %>
</p>

